@model Cmp02.Entities.Tb_Servicios

@using (Ajax.BeginForm("EditarOpciones", "Proveedor", new AjaxOptions { UpdateTargetId = "divOpciones", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @id = "frmEditarOpciones" }))
{
    <div id="divOpciones">
        @if (Model.Opcional == "OK")
        {
            <script>
                modal.modal("hide");
            </script>
        }
        else
        {
            @Html.Partial("_EditarOpciones2", Model)
        }
    </div>
}
