@model Cmp02.Entities.Tb_Servicios

@using (Ajax.BeginForm("EditarDireccion", "Proveedor", new AjaxOptions { UpdateTargetId = "divDireccion", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @id = "frmEditarDireccion" }))
{
    <div id="divDireccion">
        @if (Model.Opcional == "OK")
        {
            <script>
                modal.modal("hide");
            </script>
        }
        else
        {
            @Html.Partial("_EditarDireccion2", Model)
        }
    </div>
}
