@model Cmp02.Entities.Tb_Correlativos

@using (Ajax.BeginForm("Editar", "Correlativo", new AjaxOptions { UpdateTargetId = "divParametro", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @id = "frmEditarParametro" }))
{
    <div id="divParametro">
        @if (Model.Opcional == "OK")
        {
            <script>
                modal.modal("hide");
                $("#frmParametro").submit();
            </script>
        }
        else
        {
            @Html.Partial("_EditarCorrelativo2", Model)
        }
    </div>
}
