@using Cmp01.Utilities;
<script>
    $(function () {
        $("#btnBuscar").click(function () {
            if (2 < $.trim($("#txtBusqueda").val()).length) {
                var a = $("#DetalleLista");
                $.getJSON(FullPathSrv + "Servicios/BuscarServiciosRecibo", { vDescripcion: $("#txtBusqueda").val() }, function (b) {
                    a.empty();
                    for (var c = 0; c < b.length; c++) {
                        var d = "",
                            d = "<tr>",
                            d = d + '<td class="left">' + b[c].Codigo + "</td>",
                            d = d + '<td class="left">' + b[c].Descripcion + "</td>",
                            d = d + '<td class="text-right">' + parseFloat(b[c].PrecioUnitario).toFixed(2) + "</td>",
                            d = d + "<td>",
                            d = d + '<input type="number" min="1" max="@Variables.MaxUnidades" name="CantidadModal" value="" data-FullId="' + b[c].Codigo + '" data-FullPrecio="' + b[c].PrecioUnitario + '" class="form-control input-sm text-right FullInt" onKeyPress="return soloNumeros(event)" />',
                            d = d + "</td>",
                            d = d + "</tr>";
                        a.append(d)
                    }
                })
            }
        });

        $("#btnLimpiar").click(function ()
        {
            $("#DetalleLista").empty(), $("#txtBusqueda").val(""), $("#txtBusqueda").focus();
        });

    });
    function Aceptar()
    {
        var a = ""; $("#DetalleLista tr").each(function () { parseInt($(this).find("input").val()) > 0 && (a = a + $.trim($(this).find("input").attr("data-FullId")) + "|" + $.trim($(this).find("input").val()) + ",") }), a.length > 0 && (a = a.substr(0, a.length - 1)), $.getJSON(FullPathSrv + "Comprobante/ReciboDetalle", { vServicios: a, vId: $("#frmCabecera").find("#Id_Comprobante").val() }).done(function (a) { "1" == a.rpta ? ($("#frmDetalle").submit(), modal.modal("hide")) : (FullMsg.Alert("Alerta: " + a.mensaje), $("#frmDetalle").submit()) }).fail(function (a) { FullMsg.Alert("Error de conectividad con el Servidor") })
    }


    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
</script>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="txtBusqueda" class="control-label col-md-2 input-sm">Buscar Servicio</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" placeholder="Ingrese servicio o articulo a buscar" name="txtBusqueda" id="txtBusqueda" tabindex="0" class="form-control input-sm">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" style="padding-bottom: 3px; padding-top: 3px;" id="btnBuscar" name="btnBuscar"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                            <button type="button" class="btn btn-info" style="padding-bottom: 3px; padding-top: 3px;" id="btnLimpiar"><span class="glyphicon glyphicon-new-window"></span> Limpiar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" style="max-height:360px; overflow-y: scroll;">
            <table class="table table-bordered table-responsive table-hover">
                <thead class="tablahead">
                    <tr>
                        <th class="col-lg-1 text-center">Código</th>
                        <th class="col-lg-6 text-center">Descripción</th>
                        <th class="col-lg-1 text-center">Precio</th>
                        <th class="col-lg-2 text-center">Cantidad</th>
                    </tr>
                </thead>
                <tbody id="DetalleLista"></tbody>
            </table>
        </div>
    </div>
</div>
