@using Cmp02.Entities;
@using Cmp01.Utilities;
@model IEnumerable<Tb_Servicios>
<script>
    //function fnEliminar(a) { FullMsg.Confirm("¿Seguro de eliminar el usuario?", function (b) { b && $.get(FullPathSrv + "Usuario/Eliminar", { vId: a }, function (a) { $("#frmUsuario").submit() }) }) }
    //function fnEditar(a) { $.get(FullPathSrv + "Usuario/Editar", { vId: a }, function (a) { modal = FullMsg.Modal({ title: "Datos del Usuario", message: a, buttons: [{ label: "Guardar", className: "btn-primary", callback: function () { return $("#frmEditarUsuario").submit(), !1 } }, { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }] }), modal.modal("show") }) }
    //function fnAsignar(a) { $.get(FullPathSrv + "Usuario/AsignarPerfil", { vId: a }, function (a) { modal = FullMsg.Modal({ title: "Asignar Perfil", message: a, buttons: [{ label: "Guardar", className: "btn-primary", callback: function () { return fnGuardarPerfil(), !1 } }, { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }] }), modal.modal("show") }) }

    $(document).ready(function () {
        $("#btnNuevo").on("click", function () {
            $.get(FullPathSrv + "Servicios/Editar", function (a) {
                modal = FullMsg.Modal({
                    title: "Datos del Articulo", message: a, buttons:
                        [
                            { label: "Guardar", className: "btn-primary", callback: function () { return $("#frmEditarServicio").submit(), !1 } },
                            {
                                label: "Opciones", className: "btn-default", callback: function () {
                                    $.get(FullPathSrv + "Servicios/EditarOpciones", function (a) {
                                        modal = FullMsg.Modal({
                                            title: "Opciones Artículos", message: a, buttons:
                                                [
                                                    { label: "Guardar", className: "btn-primary", callback: function () { /*modal.modal("hide")*/ $("#btnNuevo").click() } },
                                                    { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }
                                                ]
                                        }), modal.modal("show")
                                    })
                                }
                            },
                            { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }
                        ]
                }), modal.modal("show")
            })
        });
    });
</script>


<div class="panel-group" id="accordion">
    @using (Ajax.BeginForm("Listar", "Servicios", new AjaxOptions { UpdateTargetId = "divDatos", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @id = "frmServicios" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Criterios de Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="vNombre" class="control-label col-md-2 input-sm">Por Articulo o Servicio:</label>
                                <div class="col-md-10">
                                    @Html.TextBox("vNombre", null, new { @class = "form-control input-sm toupper next", @placeholder = "Ingrese nombre, apellido o número documento", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                            <button type="button" class="btn btn-default btn-sm" id="btnNuevo">Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Resultados de la Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div id="divDatos" class="panel-body">
                    @Html.Partial("_Detalle", Model)
                </div>
            </div>
        </div>
    }
</div>