@using Cmp02.Entities;
@using Cmp01.Utilities;
@model IEnumerable<Tb_Maestras>
<script>

    $(document).ready(function () {
        $("#btnNuevo").on("click", function () {
            $.get(FullPathSrv + "Proveedor/Editar", function (a) {
                modal = FullMsg.Modal({
                    title: "Datos del Proveedor", message: a, buttons:
                        [
                            { label: "Guardar", className: "btn-primary", callback: function () { return $("#frmEditarProveedor").submit(), !1 } },
                            {
                                label: "Dirección", className: "btn-default", callback: function () {
                                    $.get(FullPathSrv + "Proveedor/EditarDireccion", function (a) {
                                        modal = FullMsg.Modal({
                                            title: "Direcciones del Proveedor", message: a, buttons:
                                                [
                                                    { label: "Guardar", className: "btn-primary", callback: function () { /*modal.modal("hide")*/ $("#btnNuevo").click() } },
                                                    { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }
                                                ]
                                        }), modal.modal("show")
                                    })
                                }
                            },
                            {
                                label: "Opciones", className: "btn-default", callback: function () {
                                    $.get(FullPathSrv + "Proveedor/EditarOpciones", function (a) {
                                        modal = FullMsg.Modal({
                                            title: "Opciones del Proveedor", message: a, buttons:
                                                [
                                                    { label: "Guardar", className: "btn-primary", callback: function () { /*modal.modal("hide")*/ $("#btnNuevo").click() } },
                                                    { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }
                                                ]
                                        }), modal.modal("show")
                                    })
                                }
                            },
                            { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }
                        ]
                }), modal.modal("show")
            })
        });
    });
</script>


<div class="panel-group" id="accordion">
    @using (Ajax.BeginForm("Buscar", "Proveedor", new AjaxOptions { UpdateTargetId = "divDatos", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @id = "frmProveedor" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Criterios de Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="vNombre" class="control-label col-md-2 input-sm">Por Proveedor o Id:</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBox("vNombre", null, new { @class = "form-control input-sm toupper next", @placeholder = "Ingrese nombre, apellido o Id del Proveedor", @maxlength = "100" })
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Resultados de la Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div id="divDatos" class="panel-body" style="max-height:360px; padding: 0px; overflow-y: scroll;">
                    @Html.Partial("_BuscarProveedorDetalle", Model)
                </div>
            </div>
        </div>
    }
</div>