@model Cmp02.Entities.Proveedores

@using (Ajax.BeginForm("Editar", "Proveedor", new AjaxOptions { UpdateTargetId = "divProveedor", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @id = "frmEditarProveedor" }))
{
    <div id="divProveedor">
        @if (Model.Opcional == "OK")
        {
            <script>
                modal.modal("hide");
            </script>
        }
        else
        {
            @Html.Partial("_EditarProveedor2", Model)
        }
    </div>
}
