@model IEnumerable<Cmp02.Entities.Tb_Permiso>

<script>
    $(document).ready(function () { $("#btnGuardar").on("click", function () { FullMsg.Confirm("¿Seguro de guardar los permisos seleccionados para este perfil?", function (a) { if (a) { var b = ""; $('input[name="Permiso"]:checked').each(function () { b += $(this).val() + "|" }), 0 == b.trim().length ? FullMsg.Alert("Debe seleccionar un permiso para guardar con el perfil") : ($.get(FullPathSrv + "Permiso/GuardarPermisos", { vId_Perfil: $("#vId_Perfil").val(), vPermisos: b }, function (a) { $("#frmPermiso").submit() }), FullMsg.Alert("Se guardo con exito los cambios")) } }) }), $("#btnRegresar").on("click", function () { window.location = FullPathSrv + "Perfil/Listar" }) });
</script>
<div class="panel-group" id="accordion">
    @using (Ajax.BeginForm("PerfilPermisos", "Permiso", new AjaxOptions { UpdateTargetId = "divDatos", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @id = "frmPermiso" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Criterios de Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="vId_Perfil" class="control-label col-md-3 input-sm">Por Perfil:</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("vId_Perfil", new SelectList((List<Cmp02.Entities.Tb_Perfil>)ViewBag.LstPerfil, "ID_PERFIL", "PERFIL", ViewBag.Perfil), "TODOS", new { @class = "form-control input-sm text-uppercase" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                                <button type="button" id="btnGuardar" class="btn btn-default btn-sm">Guardar</button>
                                <button type="button" id="btnRegresar" class="btn btn-default btn-sm">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Listado de Permisos
                    </a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div id="divDatos" class="panel-body">
                    @Html.Partial("_DetallePerfil", Model)
                </div>
            </div>
        </div>
    }
</div>

