@{ViewBag.Title = "Home Page";}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@*<script>
    var nd = $(".navbar.navbar-inverse");
    var nft = "navbar-fixed-top";
    var hdr = $('#myCarousel').height();

    $(window).scroll(function () {
        if ($(this).scrollTop() > hdr) {
            nd.addClass(nft);
        } else {
            nd.removeClass(nft);
        }
    });
</script>*@

@*<style>
    html {
        height: 100%;
    }
    body {
        height: 100%;
    }
        .carousel {
        height: 400px;
    }

    .carousel-indicators {
        bottom: 0;
    }

    .carousel-inner {
        height: 100%;
    }

    .item {
        height: 100%;
    }

    .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .carousel-caption {
        top: 35%;
        bottom: initial;
    }

</style>*@


@*<div id="myCarousel" class="carousel slide">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Content/img/Uno.jpg'); opacity: 0.5;"></div>
            <div class="carousel-caption">
                <h1>Colegio Médico plantea que facultades de medicina privadas tengan su propio hospital</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('../Content/img/Dos.jpg'); opacity: 0.5;"></div>
            <div class="carousel-caption">
                <h1>El Gobierno está ‘rascando la olla’ en el sistema de salud</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('../Content/img/Tres.jpg'); opacity: 0.5;"></div>
            <div class="carousel-caption">
                <h1>El Gobierno está ‘rascando la olla’ en el sistema de salud</h1>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>*@

