@model Cmp02.Entities.Tb_Persona_Directivo

@using (Ajax.BeginForm("Editar", "Directivo", new AjaxOptions { UpdateTargetId = "divUsuario", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @id = "frmEditarUsuario" }))
{
    <div id="divUsuario">
        @if (Model.Opcional == "OK")
        {
            <script>
                modal.modal("hide");
                $("#frmUsuario").submit();
            </script>
        }
        else
        {
            @Html.Partial("_Editar2", Model)
        }
    </div>
}
